{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

    <div class = "text-center mw-500 m-auto">
        {% if user == target_user %}
        {% if target_user.profile%}
        <div>
            <img src = "{{ target_user.profile.image.url }}"
                     class = "profile_image m-4"
                     alt = "profile image">
            <h2 class = "NNS_B">
                {{ target_user.profile.nickname }}
                {# edit가 아이콘 이름, 즉 태그안에 내용을 확인하여 아이콘을 찾아서 가지고옴 #}
                <a href="{% url 'profile:update' pk=target_user.profile.pk %}"
                class="material-icons round_button">edit</a>
            </h2>
            <h5>{{ target_user.profile.message }}</h5>
        {% else %}
            <h2 class = "NNS_B">
                <a href = "{% url 'profile:create' %}">
                    Create Profile
                </a>
            </h2>
        </div>
        {% endif %}
        <div>
              {# x방향으로 마진 1만큼 줌줌줌 #}
              <a href="{% url "acountapp:update" pk=target_user.pk %}"
              class="material-icons round_button mx-1">
                  settings
              </a>
              <a href="{% url "acountapp:delete" pk=target_user.pk %}"
              class="material-icons round_button mx-1">
                  close
              </a>
        </div>
        {% endif %}
    </div>

{% endblock %}